# Ignore everything
*

# Except for these files
!./query_and_filter.py
!./pandas_pipes.py
!./main.py
!./generate_monthly_data.py
!./helpers.py
!./requirements.txt
!./README.md
!./LICENSE
!./sample.env

# Ignore any other files in subdirectories
!*/
