# Ignore everything
*

# Except for these files
!readme.md
!query_tweets.py
!functions_twitter.py
!csv_handler.py
!main.py
!requirements.txt
!LICENSE
!sample.env

# Ignore any other files in subdirectories
!*/
